.item-1 {
  width: 2em; }

.item-2 {
  width: 4em; }

.item-3 {
  width: 6em; }

.div-1 {
  width: 2em; }

.div-2 {
  width: 4em; }

.queen-icon {
  background-image: url("/images/queen.png"); }

.knight-icon {
  background-image: url("/images/knight.png"); }

.bishop-icon {
  background-image: url("/images/bishop.png"); }

.king-icon {
  background-image: url("/images/king.png"); }

.dog-icon {
  background-image: url("/images/dog.png"); }

.cat-icon {
  background-image: url("/images/cat.png"); }

.fish-icon {
  background-image: url("/images/fish.png"); }

.pig-icon {
  background-image: url("/images/pig.png"); }

.item-6 {
  width: 12em; }

.item-4 {
  width: 8em; }

.item-2 {
  width: 4em; }
