$tablet-width: 768px;
$desktop-width: 1024px;

@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

header {
    padding: 3m;

    @include tablet {
        padding: 2em;
    }

    @include desktop {
        padding: 1em;
    }
}

.sidebar{
    width: 40%;
    @media screen and (landscape) {
        width: 30%;
    }
}