body {
  background: #6464ff; }

section {
  background: rgba(100, 100, 255, 0.8); }

section div {
  background: white;
  background: black;
  font-family: "Open Sans";
  font-weight: bold;
  padding: 4;
  font-family: "BOLD";
  font-family: "bold";
  width: 220%;
  margin: 2;
  margin: 3;
  margin: 2; }

div {
  width: 40%; }

.div2 {
  width: 50em; }
